[package]
name = "wasmedge_http_req"
version = "0.8.1"
license = "MIT"
description = "HTTP client for the WasmEdge network socket API. Derived from the http_req library."
repository = "https://github.com/second-state/wasmedge_http_req"
authors = ["chensiheng", "jayjamesjay"]
readme = "README.md"
categories = ["web-programming::http-client", "network-programming","wasmedge","wasi"]
keywords = ["http", "client", "request"]
edition = "2018"

[dependencies]
unicase = "^2.6"
wasmedge_wasi_socket = { git = "https://github.com/second-state/wasmedge_wasi_socket", branch = "main" }
